body{

    background: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: open sans,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #abacae;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-size: 38px;
    color: #222;
    font-weight: 700;
    font-family: titillium web,sans-serif;
}
p {
    font-weight: 400;
    font-family: open sans,sans-serif;
    margin: 0;
    font-size: 14px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3d60f4;
    cursor: pointer;
  }
  .topbtn button:hover{
      background: #000;
      color: #fff;
  }
/*--------section header start---------*/

.nav-link{
    text-transform: uppercase;
    color: #000;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #3d60f4 !important;
}

@media only screen and (max-width: 600px) {
   .home_nav{
     padding-left: 25px;
   }
}

.navbar {
    padding: 0;
}

/*--------section header end---------*/

/*--------section banners start---------*/
#hero-area {
    color: #fff;
    overflow: hidden;
    position: relative;
    background: url(images/hero-bg.png);
}

#hero-area .contents .head-title {
    color: #585b60;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

#hero-area .contents {
    padding: 170px 0 50px;
}

.btn-common {
    background-color: #3d60f4;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}

.btn {
    font-size: 14px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
}

.btn-common:hover {
    color: #fff;
    background-color: #222;
    box-shadow: 0 6px 22px rgba(0,0,0,.1);
}
/*--------section banners end---------*/

/*--------section feature start---------*/
.text-wrapper {
    height: 100%;
    display: table;
    padding-left: 140px;
}

.text-wrapper>div {
    vertical-align: middle;
    display: table-cell;
}

.feature-thumb {
    padding: 40px 0;
    background-color: #3d60f4;
}

.feature-item {
    padding: 30px;
}

.feature-content {
    color: #fff;
    margin-left: 100px;
}
.feature-content h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.feature-item .icon {
    float: left;
    border: 1px solid #fff;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
}

.feature-item .icon i {
    font-size: 36px;
    color: #fff;
    line-height: 80px;
}

.padding-none {
    padding: 0;
}

@media (max-width: 767px){
.text-wrapper {
    padding: 60px 15px;
}
.title-hl {
    font-size: 30px;
}
}

/*--------section feature end---------*/

/*--------section services start---------*/
.section-title {
    font-size: 30px;
    color: #222;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.services-item {
    background: #fff;
    margin: 15px 0;
    padding: 30px;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
}

.services-item .services-content h3 a {
    font-size: 18px;
    color: #585b60;
}
.services-item .services-content h3 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services-item .icon i {
    font-size: 42px;
    color: #3d60f4;
}

.bg-gray {
    background: #f9f9f9;
}
/*--------section services end---------*/

/*--------section testimonial start---------*/

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(15,17,27,.8);
}

.testimonials {
    background: #34363a;
    position: relative;
    background: url(images/testimonial_bg.jpg);
}

.section-padding {
    padding: 80px 0;
}

.testimonial{
    text-align: center;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.testimonial .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.testimonial .testimonial-title{
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    color: #3d60f4;
}
.testimonial .testimonial-title small{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.testimonial .description{
    font-size: 14px;
    color: #fff;
    line-height: 27px;
    position: relative;
    margin: 0;
}

.owl-theme .owl-controls .owl-page span{
    background: #fff;
    border: 2px solid #0c4767;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span{
    border: 2px solid #3d60f4;
}
/*--------section testimonial end---------*/


/*--------section contact_form start---------*/

.text-contact{
    color: #3d60f4;
}

.add_text{
    color: #000;
}

.fa-building,.fa-phone-square,.fa-envelope,.fa-map-marker{
    color: #3d60f4;
}
/*--------section contact_form end---------*/


/*--------section footer start---------*/
.footer-area{
    background-color: #000;
    color: #fff;
}
.footer-area a{ 
    color:#fff;
}
.footer-top {
    padding: 60px 0px 20px;
}
.footer-widget {
    margin-bottom: 30px;
}
.footer-logo p {
    margin-bottom: 20px;
}
.footer-logo h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #fff;
}
.footer-logo span {
    display: block;
    margin-bottom: 20px;
}
.footer-logo ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
.footer-widget h4.widget-title {
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 30px;
    margin: 30px 0px 50px;
    font-weight: 600;
    position: relative;
    color: #fff;
}
.footer-widget h4.widget-title:before {
    position: absolute;
    left: 0;
    top: 5px;
    width: 5px;
    height: 12px;
    background: #3d60f4;
    content: "";
}
.footer-contact ul li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
    line-height: 24px;
    font-size: 14px;
}
.footer-contact ul li i {
    height: 25px;
    width: 25px;
    font-size: 14px;
    border: 1px solid #3d60f4;
    text-align: center;
    line-height: 24px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.footer-contact ul li:last-child {
    margin-bottom: 0px;
}
.footer-menu ul li {
    line-height: 37px;
    padding-left: 30px;
    position: relative;
}
.footer-menu ul li:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f101";
    font-family: fontawesome;
}
.footer-menu ul li:hover:before {
    left: 5px;
    color: #3d60f4;
}
.newsletter p {
    margin-bottom: 20px;
}
.newsletter input {
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding-left: 15px;
    background: #fff;
    margin-bottom: 10px;
}
.newsletter button {
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    background: #3d60f4;
    cursor: pointer;
    border-radius: 3px;
}
.newsletter button:hover {
    background: #323131;
    color: #fff;
}

.footer-bootom p {
	color: #fff;
}
.footer-bootom a {
	color: #fff;
}
/*--------section footer end---------*/


